In [1]:
# import dependencies
import pandas as pd
import numpy

In [2]:
#read in the vine_table.csv
vine = pd.read_csv('vine_table.csv')
vine.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R35T75OLUGHL5C,4.0,0.0,0.0,N,Y
1,R2BV735O46BN33,5.0,0.0,0.0,N,Y
2,R2NBEUGPQQGXP1,4.0,0.0,0.0,N,Y
3,R17LLAOJ8ITK0S,3.0,1.0,1.0,N,Y
4,R39PEQBT5ISEF4,1.0,0.0,0.0,N,Y

In [3]:
#create pandas dataframe
vine_df = pd.DataFrame(vine)
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R35T75OLUGHL5C,4.0,0.0,0.0,N,Y
1,R2BV735O46BN33,5.0,0.0,0.0,N,Y
2,R2NBEUGPQQGXP1,4.0,0.0,0.0,N,Y
3,R17LLAOJ8ITK0S,3.0,1.0,1.0,N,Y
4,R39PEQBT5ISEF4,1.0,0.0,0.0,N,Y

In [4]:
#filter vine data by total_votes > 20
vine_df = vine_df[vine_df.total_votes >= 20]
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
65,R2FP3U4NHNFNL2,5.0,25.0,29.0,N,Y
159,R1UUK1977O38MU,5.0,31.0,31.0,N,Y
603,RXO216LWUDV6O,3.0,29.0,31.0,N,Y
655,R3NMJF7EBMM19V,3.0,26.0,27.0,N,Y
935,R2ZY0ZBDUO0XUY,3.0,20.0,21.0,N,Y

In [5]:
#create a table where helpful votes are greater than 50%
helpful_vine = vine_df[(vine_df.helpful_votes / vine_df.total_votes) >= .5]
helpful_vine.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
65,R2FP3U4NHNFNL2,5.0,25.0,29.0,N,Y
159,R1UUK1977O38MU,5.0,31.0,31.0,N,Y
603,RXO216LWUDV6O,3.0,29.0,31.0,N,Y
655,R3NMJF7EBMM19V,3.0,26.0,27.0,N,Y
935,R2ZY0ZBDUO0XUY,3.0,20.0,21.0,N,Y

In [6]:
#spilt helpful_vine by vine == yes
vine_yes = helpful_vine[helpful_vine.vine == 'Y']
vine_yes.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
30395,R3KPC0NBUDASX3,5.0,25.0,25.0,Y,N
206171,R119P2A95GGXX4,5.0,26.0,28.0,Y,N
222172,R1HKIRME8AJ89Z,5.0,79.0,82.0,Y,N
281437,R3FY3GMBGOBR22,5.0,12.0,20.0,Y,N
287862,R15KH3FBSVYGBU,5.0,32.0,37.0,Y,N

In [7]:
#spilt helpful_vine by vine == no
vine_no = helpful_vine[helpful_vine.vine == 'N']
vine_no.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
65,R2FP3U4NHNFNL2,5.0,25.0,29.0,N,Y
159,R1UUK1977O38MU,5.0,31.0,31.0,N,Y
603,RXO216LWUDV6O,3.0,29.0,31.0,N,Y
655,R3NMJF7EBMM19V,3.0,26.0,27.0,N,Y
935,R2ZY0ZBDUO0XUY,3.0,20.0,21.0,N,Y

In [8]:
#number of reviews
reviews = len(helpful_vine)
reviews

39976

In [14]:
# number of 5 star reviews 
star_reviews = helpful_vine[helpful_vine.star_rating == 5]
star5_reviews = len(star_reviews)
star5_reviews

21061

In [24]:
#vine reviews by 5 star reviews
vine_yes_stars = vine_yes[vine_yes.star_rating == 5]
vine_no_stars = vine_no[vine_no.star_rating == 5]

In [25]:
#print % of 5 star reviews by whether in vine program or not
print(len(vine_yes_stars)/star5_reviews)
print(len(vine_no_stars)/star5_reviews)

0.0026589430701296234
0.9973410569298704

In [28]:
# 5 star reviews by verified purchases
vine_purchase = vine_yes_stars[vine_yes_stars.verified_purchase == 'Y']
len(vine_purchase)

1